defaults:
  - model: trlm
  - optimizer: adamw
  - data: the_pile
  - _self_

training:
  out_dir: "out"
  eval_interval: 500
  log_interval: 10
  eval_iters: 3
  always_save_checkpoint: True
  max_iters: 50000
  resume_from_checkpoint: null

environment:
  device: "cuda"
  dtype: "bfloat16"
  compile: True
  seed: 52

wandb:
  log: True
  project: "trlm"
  run_name: "gpt-${now:%Y-%m-%d-%H-%M-%S}"